.scroll{
    height: calc(100% - 40px);
    overflow: auto;
    scroll-behavior: inherit;
    scrollbar-color: #423D3D black;
    scrollbar-width: thin;
}

.following-li-p{
    color:white;
    cursor: pointer;
}

.following-li-p:hover{
    color:#BF94FF;
}

#followDiv{
    position: absolute;
    background-color: black;
    width: 339px;
    height: 70vh;
    z-index: 10;
    top: 51px;
    right: 0px;
    border-style: solid;
    border-color: #6D687B;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 1px;
}

#follow-ul{
    padding-left: 10px;
}

#singleFollowDiv{
    position: absolute;
    right:7px;
    top: 40px;
    z-index: 11;
    width: 200px;
    height:150px;
    /* border-style: solid;
    border-color: #6D687B;
    border-width: 1px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#singleFollowImg{
    border-color: black;
    margin-top: 5px;
    height: 0px;
    width: 0px;
}

#singleFollowATag{
    float: left;
    color:white;
    cursor: pointer;
    font-size: 1.5em;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}